# Complied source #
###################

*.hi
*.o

# LaTeX related #
#################

latex.txt
*.tex
!test1.tex
*.aux
*.idx
*.log
*.nlo
*.out
*.synctex.gz

# Miscellaneous files #
#######################

*~
*.pdf
header2.exe
output.hs
input.txt