# Complied source #
###################

*.hi
*.o

# LaTeX related #
#################

latex.txt
*.tex
!test1.tex
*.aux
*.idx
*.log
*.nlo
*.out
*.synctex.gz

# Miscellaneous files #
#######################

*#
*~
*.pdf
*.dot
!test1.dot
header2.exe
output.hs
fourier.txt
Test.exe
ant.txt